# Ignore raw clinical data
Data/

# Ignore generated datasets (too large for GitHub)
Dataset/*.pkl

# Ignore Python virtual environment and cache
venv/
env/
__pycache__/
*.pyc

# Ignore Mac system files
.DS_Store
**/.DS_Store
